html,body { width: 100%; height: 100%; }
body {
	font-size: 0.28rem;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,*:before,*:after { max-height: 100000px; }
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}